<div class="panel panel-default">
  <a href="<%=candidate_path(candidate.candidate_id)%>"><div class="panel-body">
    <%= image_tag(candidate.image_url, width: '128', height: '128', class: candidate.party_color.last ) %>
    <ul class="col-md-9">
      <li><h3><%= candidate.pretty_print_name %></h3></li>
      <li class="<%= candidate.party_color.first %>"><%= candidate.party_full %></li>
      <li>Election Years: <%= candidate.election_years.to_s %></li>
      <li>FEC ID: <%= candidate.candidate_id %></li>
    </ul>
  </div></a>
</div>
